<form action="/login" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="username" /><br />
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>
